<!doctype html>
<title>Tagger</title>
<style>
    body {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    input {
        width: 500px;
        height: 100px;
        border-radius: 25px;
        font-size: 50px;
        margin: 10px;
    }
</style>
<body>
    <form action="/" method="post">
        <table>
            <tr>
                <input type="submit" name="buttonStart" value="Start"/>
            </tr>
            <tr>
                <input type="submit" name="buttonStop" value="Stop"/>
            </tr>
        </table>
    </form>
</body>
